/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo .logo-part {
    color:#2e2f42;
}

.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}

.contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}

.page-footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo .footer-logo{
    color:#f4f4fd;
}

.page-footer .footer-p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.title-hero{
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
max-width: 496px;
margin:0 auto 48px;
}

.hero{
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

.hero .button-hero{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    height: 56px;
    margin:0 auto;
}

.hero .button-hero:hover,
.hero .button-hero:focus{
    background-color: #404bbf;
}

.values-list .list-section-hh{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0 0 0.5em 0;
    margin-bottom: 8px;
}

.values-list .p-section-hh{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.team-list .team-item .team-hhh{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42; 
margin-bottom: 8px;
}

.team-list .team-item .team-p{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-section .team-hh{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-container{
    padding: 32px 0;
}



.team-section{
    background-color: #f4f4fd;
    padding: 120px 0;
}

.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section .portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}



.portfolio-section, .portfolio-hh{
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;
}

.portfolio-section, .portfolio-list, .portfolio-item, .portfolio-p{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio-section, .portfolio-list, .portfolio-item, .portfolio-hhh{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.container-header{
    width: 1158px;
    margin: 0 auto;
    display: flex;
    padding: 0 15px;
}

.nav-header-container{
    display: flex;
    align-items: center;
}

.nav-list-container{
    display: flex;
    gap: 40px;
    padding: 0 24px;
}

.contact-list-container{
    display: flex;
    gap: 40px;
}

.section-two{
    padding: 120px 0;
    background-color: #FFFFFF;
}

.values-list-container{
    display: flex;
    gap: 24px;
}



    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.container-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer .logo-part-footer{
    color:#f4f4fd;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


.team-item{
    background: #fff; 
    border-radius: 0px 0px 4px 4px;
}

.values-list-li{
    width: calc((100% - 72px) / 4);
    justify-content: space-around;
}



